/* Styling for the login form */
.login-form {
    background-color: #68929483;
    border: 8px solid #4554638c;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(201, 33, 33, 0.1);
  }
  
  .login-form h1 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .login-form .form-label {
    font-size: 18px;
  }
  
  .login-form .form-control {
    font-size: 16px;
  }
  
  .login-form .btn-primary {
    font-size: 18px;
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .login-form .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  
  .login-form .btn-warning {
    font-size: 18px;
    background-color: #ffc107;
    border-color: #ffc107;
  }
  
  .login-form .btn-warning:hover {
    background-color: #e0a800;
    border-color: #e0a800;
  }
  
  .login-form p {
    font-size: 16px;
  }
  
  .login-form a {
    text-decoration: none;
  }
  
  /* Media query for smaller screens */
  @media (max-width: 576px) {
    .login-form {
      width: 100%;
      max-width: 400px;
    }
  }
  